{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'reclamos/style.css' %}">
</head>
<body>
    <header>
        <h1>Sistema de Atención al Cliente</h1>
        <nav class="menu-celeste">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'registrar_reclamo' %}">Registrar Reclamo</a>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
